<h2>User info</h2>
<table class='table'>
<tr>
 <% if user.image.attached? %>
   <%= image_tag user.image, size: "63x63" %>
 <% else %>
   <%= image_tag 'no_image', size: "63x63" %>
 <% end %>
</tr>
<tr>
  <th>name</th>
  <td><%= user.name %></td>
</tr>
<tr>
  <th>introduction</th>
  <td><%= user.introduction %></td>
</tr>
</table>


<div class='row'>
    <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
</div>


<h3 class="mt-3">New book</h3>

<% if book.errors.any? %>
  <%= book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: book, url: '/books', method: :post, local: true do |f| %>

  <div class="form-group">
    <%= f.label :Title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :Opinion %><br>
    <%= f.text_area :body, class:"form-control" %>
  </div>

   <div class="form-group">
     <%= f.submit 'Create Book', class:"btn btn-success" %>
   </div>

<% end %>