<h2>Editing Book</h2>
  <%= form_with model: @book, url: book_path(@book.id), method: :patch, local: true do |f| %>
  <label for="inputTitle">Title</label>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル"%>
  <label for="inputOpinion">Opinion</label>
  <%= f.text_field :body, autofocus: true, id:"inputOpinion", placeholder:"感想"%>
  <%= f.submit "Update Book" %>

  <%= link_to "Show", books_path %> |
  <%= link_to "Back", book_path %>
<% end %>