<main>
  <p id="notice"></p>
    <div class='container'>
      <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

         <h2>Editing Book</h2>

         <% if @book.errors.any? %>
           <%= @book.errors.count %>errors prohibited this obj from being saved:
         <ul>
           <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
           <% end %>
         </ul>
         <% end %>

           <%= form_with model: @book, url: book_path(@book.id), method: :patch, local: true do |f| %>
           <div class="form-group">
             <label for="inputTitle">Title</label></br>
              <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル", class:"form-control" %>
           </div>

           <div class="form-group">
             <label for="inputOpinion">Opinion</label></br>
              <%= f.text_area :body, autofocus: true, id:"inputOpinion", placeholder:"感想", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Update Book", class:"btn btn-success" %>
            </div>

              <%= link_to "Show", book_path %> |
              <%= link_to "Back", books_path %>
            <% end %>
        </div>
      </div>
    </div>
</main>