<div>
  <%= image_tag @book.get_image %>
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>