<main>
  <p id="notice"></p>
    <div class='container'>
      <div class='row'>
        <div class='col-md-3'>
          <div>
            <%= render 'books/list', user: @book.user, book: @book_new %>
          </div>
        </div>

        <div class='col-md-8 offset-md-1'>
          <h2>Book detail</h2>
            <table class='table'>
              <tr>
                <td>
                  <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(40,40), fallback: "no_image.jpg" %>
                  <br>
                  <%= @book.user.name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to @book.title, book_path(@book.id) %>
                </td>
                <td>
                  <%= @book.body %>
                </td>

                <td>
                  <% if @book.favorited_by?(current_user) %>
                    <p>
                      <%= link_to book_favorites_path(@book), method: :delete do %>
                        ♥<%= @book.favorites.count %>
                      <% end %>
                    </p>
                    <% else %>
                    <p>
                      <%= link_to book_favorites_path(@book), method: :post do %>
                        ♡<%= @book.favorites.count %>
                      <% end %>
                    </p>
                  <% end %>
                </td>

                <div>
                  <p>コメント件数：<%= @book.book_comments.count %></p>
                  <% @book.book_comments.each do |book_comment| %>
                    <%= book_comment.user.name %>
                    <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
                    <% if book_comment.user == current_user %>
                      <%= link_to "削除", book_post_book_path(book_comment.book, book_comment), method: :delete %>
                    <% end %>
                  <% end %>
                </div>

                <div>
                  <%= form_with model: [@book, @book_comment] do |f| %>
                    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                    <%= f.submit "送信する" %>
                  <% end %>
                </div>


　　　　　　　　<% if @book.user == current_user %>
                <td>
                  <%= link_to edit_book_path(@book), class: "btn-sm btn-success edit_book_46384" do %>Edit
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(@book), class: "btn btn-sm btn-danger destroy_book_46384", method: :delete, "data-confirm" => "本当に削除しますか？" do %>Destroy
                  <% end %>
                </td>
                <% end %>
              </tr>
            </table>
        </div>
      </div>
    </div>
</main>